<!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" />
  </head>
  <body>
    <div class="container">
      <h1>User name is <%= user %></h1>
      <form method="post" action="/guess">
        <input type="text" name="guess" value="" />
        <input type="submit" value="Guess" />
      </form>
      <h2>Attempts: <%= attempts_left %>/<%= attempts_amount %></h2>
    </div>
  </body>
</html>
