<!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" />
    <script src="/js/script.js"></script>
  </head>
  <body>
    <div class="container">
      <form method="get" action="/game">
        <input type="text" name="user" value="<%= user %>" />
        <input type="submit" value="Start" />
      </form>
    </div>
  </body>
</html>
